{{ define "main" }}
  {{ .Content }}
  
  
  {{ if eq (len .RegularPages) 0 }}
    {{/* Parent section */}}
    {{ with $.Params.custom.parent_info }}
      <p class="gallery-description">{{ . }}</p>
  {{ end }}

  <ul class="gallery-list">
    {{ range .Sections }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{/* Each item shows its own parameters */}}
        {{ with .Params.custom.index_subtitle }} <small>: {{ . }}</small>{{ end }}
      </li>
    {{ end }}
</ul>
    
  {{ else }}
    {{/* Child section - combine sections and pages */}}
    <ul class="gallery-list">
      {{/* First list subsections */}}
      {{ range .Sections }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.custom.index_subtitle }} <small>: {{ . }}</small>{{ end }}
          {{ with .Params.year }} <small> ({{ . }})</small>{{ end }}
          
        </li>
      {{ end }}
      
      {{/* Then list direct pages */}}
      {{ range .RegularPages }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.event }} <em>{{ . }}</em>{{ end }}
          {{ with .Params.custom.index_subtitle }} <small>: {{ . }}</small>{{ end }}
          {{ with .Params.year }} <small>({{ . }})</small>{{ end }}    
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
