{{ define "main" }}
  
  
  {{ .Content }}
  
  {{ $paginator := .Paginate .RegularPagesRecursive }}
  <ul class="gallery-list">
    {{ range $paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.event }} <em>{{ . }}</em>{{ end }}
        {{ with .Params.description }} <span>: {{ . }}</span>{{ end }}
        {{ with .Params.year }} <span>({{ . }})</span>{{ end }}
        
      </li>
    {{ else }}
      <li>No galleries found.</li>
    {{ end }}
  </ul>
  
  {{ partial "pagination.html" . }}
{{ end }}



{{/* add the line below if wanted in thetop list */}}
{{/* {{ with .Params.description }}<p>{{ . }}</p>{{ end }} */}}