<script>
(function() {
    var e, t = "https://bongotwisty.goatcounter.com/count?p=" + encodeURIComponent(location.pathname + location.search);
    (!navigator.sendBeacon || !navigator.sendBeacon(t)) && (e = document.createElement("img"),
    e.src = t,
    e.style.position = "absolute",
    e.style.bottom = "0px",
    e.style.width = "1px",
    e.style.height = "1px",
    e.loading = "eager",
    e.setAttribute("alt", ""),
    e.setAttribute("aria-hidden", "true"),
    document.body.appendChild(e))
}
)()
</script>
<noscript>
    <img src="https://bongotwisty.goatcounter.com/count?p={{ .RelPermalink | urlquery }}" style="width:1px;height:1px;position:absolute;bottom:0;" loading="eager" alt="" aria-hidden="true">
</noscript>

