<header>
  <div class="site-container">
    {{- with .Title }}
      <h2 class="site-title">{{ . }}</h2>
    {{- end }}

    <nav>
      {{- partial "nav.html" . -}}
    </nav>

    
    {{/*add/hide header image*/}}
    {{/*
    {{ if .IsHome }}
      <div class="home-header-image">
        <img src="{{ "header-banner.webp" | relURL }}" alt="BongoTwisty Header">
    </div>
    {{ end }}
    */}}

    {{ with .Description }}
      <div class="site-subtitle">{{ . }}</div>
    {{ end }}
  </div>
</header>
