{{- $src := .Get "src" -}}
{{- $title := .Get "title" -}}
{{- $alt := .Get "alt" -}}
{{- $image := "" -}}

{{/* Try page resource first (current page) */}}
{{- $pageResource := .Page.Resources.GetMatch $src -}}
{{- if $pageResource -}}
  {{- $image = $pageResource -}}
{{- else -}}
  {{/* Try to get the gallery page and its resources */}}
  {{- $galleryPage := .Site.GetPage "/gallery/postbox_toppers" -}}
  {{- if $galleryPage -}}
    {{- $filename := path.Base $src -}}
    {{- $galleryResource := $galleryPage.Resources.GetMatch $filename -}}
    {{- if $galleryResource -}}
      {{- $image = $galleryResource -}}
    {{- end -}}
  {{- end -}}
  
  {{/* Fallback to global resource */}}
  {{- if not $image -}}
    {{- $globalResource := resources.Get $src -}}
    {{- if $globalResource -}}
      {{- $image = $globalResource -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $image -}}
<figure>
  <a href="{{ $image.RelPermalink }}" class="glightbox" data-title="{{ $title }}">
    <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" title="{{ $title }}">
  </a>
</figure>
{{- else -}}
  {{/* Fallback for static files */}}
<figure>
  <a href="{{ $src | relURL }}" class="glightbox" data-title="{{ $title }}">
    <img src="{{ $src | relURL }}" alt="{{ $alt }}" title="{{ $title }}">
  </a>
</figure>
{{- end -}}
